## Import main Modules and Data

In [34]:
import pandas as pd
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
df=pd.read_csv("news.csv")
df

## Convert Text to numbers

TFIDF=Term Frequency(TF) X Inverse Document Frequency(IDF)

Term Frequency(TF)=no. of occurance of word / total number of words in the document

Inverse Document Frequency(IDF)=log(no. of documents / no. of documents containing word)

if TFIDF score of a word in a document is high, then the word occurs more in that document and less in others.

In [6]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfconverter = TfidfVectorizer(max_features=1500, min_df=5, max_df=0.7,
                                 stop_words=stopwords.words('english'))

max_feature=1500 to select the top 1500 features(words) based on frequency (repetition). 
Result will have columns with 1500 words.

min_df=5  minumum number of documents or rows that should contains the feature(word)

max_df=.7  .7 is 70%. this represents maximum 70% should have the feature,
if more than 70% of the documents(rows) contains the feature then it is excluded

stopwords  to remove words like 'is','are','a','are' etc..

In [7]:
features1= tfidfconverter.fit_transform(df['title'])
features_df1 = pd.DataFrame(features1.toarray(), columns=tfidfconverter.get_feature_names())

In [8]:
features2= tfidfconverter.fit_transform(df['text'])
features_df2 = pd.DataFrame(features2.toarray(), columns=tfidfconverter.get_feature_names())

In [51]:
data= pd.concat([features_df1,features_df2],axis=1)
data['label']=df['label']

In [53]:
data.columns

Index(['000', '10', '100', '11', '12', '13', '14', '15', '16', '17',
       ...
       'wrong', 'wrote', 'www', 'year', 'years', 'yes', 'yet', 'york', 'young',
       'label'],
      dtype='object', length=3001)

In [49]:
data = data.loc[:,~data.columns.duplicated()]

## Rename Duplicates

"title" and "text" will have same words. so to rename the duplicates

In [17]:
cols=pd.Series(data.columns)
for dup in cols[cols.duplicated()].unique(): 
    cols[cols[cols == dup].index.values.tolist()] = [dup + '.' + str(i) if i != 0 else dup for i in range(sum(cols == dup))]

# rename the columns with the cols list.
data.columns=cols

000
10
100
11
12
13
14
15
16
17
18
20
200
2015
2016
21
22
28
30
40
50
500
abedin
abortion
accept
access
accused
across
act
action
actions
activists
actually
added
address
administration
afghanistan
african
agency
agenda
agents
agree
ahead
air
al
aleppo
allies
almost
along
already
also
alternative
always
america
american
americans
among
announcement
another
answer
anti
anyone
anything
appeal
appear
arabia
area
argument
armed
arms
army
around
arrested
ask
asked
assad
assault
attack
attacks
attempt
attorney
avoid
away
back
backed
bad
ballot
ban
bank
barack
base
battle
become
becomes
begin
behind
believe
ben
bernie
best
better
beyond
bid
biden
big
biggest
bill
billion
black
blame
block
blood
body
boehner
bomb
border
born
brain
break
breaking
britain
brother
budget
build
bush
business
california
call
called
calling
calls
camp
campaign
campaigns
cancer
candidate
candidates
car
care
carolina
carson
case
cash
caucus
caucuses
cause
central
chairman
challenge
chance
change
changed
charged
charges
check
chicago
chief
child
children
china
chinese
choice
chris
christian
christie
church
cities
city
civil
claim
claims
class
classified
cleveland
climate
clinton
clintons
close
closed
cnn
college
com
come
comes
comey
coming
comment
comments
common
complete
concerned
concerns
congress
congressional
conservative
conservatives
consider
continue
continues
control
convention
core
corporate
corrupt
corruption
cost
could
council
country
county
court
coverage
crime
crimes
criminal
crisis
critical
criticism
critics
crowd
cruz
cuba
culture
cut
daily
dakota
damage
dangerous
data
david
day
days
dead
deal
death
debate
debates
debt
decades
decision
deep
defeat
defend
defense
delegate
delegates
demand
democracy
democrat
democratic
democrats
department
despite
different
director
dnc
documents
dollar
donald
done
donors
door
dr
drug
due
early
earth
east
eastern
easy
economic
economy
education
effort
efforts
elected
election
elections
electoral
elites
email
emails
end
energy
enough
entire
establishment
europe
even
event
events
ever
every
everyone
everything
evidence
executive
expect
expected
experts
explain
explained
face
facebook
fact
facts
failed
failure
fair
faith
fall
false
families
family
far
fbi
fear
fed
federal
female
field
fight
fighting
final
finally
financial
find
fiorina
fire
fired
firm
first
five
florida
focus
following
food
force
forced
forces
foreign
former
forward
found
foundation
four
fox
france
fraud
free
freedom
french
friend
front
full
funding
future
game
gas
gay
general
george
germany
get
gets
getting
give
gives
giving
global
go
god
goes
going
gold
gone
good
gop
got
gov
government
governor
great
green
ground
group
growing
gun
guns
guy
hampshire
happen
happened
happening
happens
hard
hate
head
health
hearing
heart
held
help
helped
helping
high
higher
hill
hillary
history
hit
hold
home
hope
host
hour
hours
house
huge
human
idea
illegal
immigrants
immigration
important
india
indiana
industry
information
inside
intelligence
internet
interview
investigation
iowa
iran
iranian
iraq
iraqi
isis
islam
islamic
israel
israeli
issue
issues
james
jeb
jewish
job
jobs
joe
john
johnson
join
journalists
judge
justice
kasich
keep
kelly
kerry
key
kids
kill
killed
king
knew
know
knows
land
last
late
latest
law
lawmakers
laws
lead
leader
leaders
leadership
learned
least
leave
led
left
legal
less
let
letter
liberal
liberty
libya
lies
life
like
likely
line
list
little
live
lives
living
long
look
looking
looks
lose
losing
loss
lost
love
low
lynch
made
major
make
makes
making
man
manager
many
march
marco
mark
market
marriage
mass
massive
matter
matters
may
mccain
mcconnell
mean
means
media
medical
meet
meeting
members
men
message
mexico
michael
michigan
middle
might
mike
military
million
millions
minister
mitt
moderate
modern
moment
money
month
months
morning
moscow
mosul
mother
move
movement
moving
mr
much
multiple
muslim
muslims
must
name
nation
national
nations
nato
natural
near
nearly
need
needs
netanyahu
network
nevada
never
new
news
next
night
nomination
nominee
non
north
nothing
november
nuclear
number
numbers
obama
obamacare
october
office
officer
officers
official
officials
ohio
oil
old
one
online
open
operation
opinion
opposition
order
outside
paid
paper
paris
part
partisan
party
pass
path
paul
pay
peace
pence
pentagon
people
percent
person
personal
photo
pick
pipeline
place
plan
plane
planned
plans
podesta
point
points
police
policies
policy
political
politicians
politics
poll
polling
polls
poor
popular
possible
post
potential
power
powerful
powers
presidency
president
presidential
press
pressure
prevent
price
primaries
primary
prime
prison
private
pro
probably
problem
program
project
propaganda
protect
protest
protesters
protests
public
push
put
putin
qaeda
question
questions
race
racial
racist
radio
raise
rally
rate
reach
reached
read
ready
real
reality
really
reason
reasons
record
records
red
refugees
relations
release
released
religion
religious
remains
rep
report
reportedly
reporter
reports
republican
republicans
response
responsibility
results
revealed
review
revolution
rigged
right
rights
rise
risk
rock
role
romney
room
rubio
rule
rules
ruling
run
running
russia
russian
ryan
safe
said
san
sanders
saudi
save
say
saying
says
scandal
school
schools
science
scientists
scott
search
second
secret
secretary
security
see
seek
seen
self
sen
senate
senator
sent
series
serious
serve
server
service
set
seven
sex
sexual
share
shift
shooting
short
shot
show
showing
shows
side
sign
signs
since
single
situation
six
small
social
society
someone
something
son
soon
source
sources
south
space
speak
speaker
special
speech
spending
staff
stage
stand
standing
star
start
started
state
states
step
still
stop
story
strategy
street
strong
student
students
study
success
sunday
super
support
supporters
supporting
supposed
supreme
sure
surprise
syria
syrian
system
take
taken
takes
taking
talk
talking
talks
target
tax
taxes
team
ted
tell
telling
term
terror
terrorism
terrorist
terrorists
test
texas
thing
things
think
thinks
third
thousands
threat
threats
three
ties
time
times
today
told
took
top
total
tough
toward
town
trade
trail
tried
troops
true
trump
truth
try
trying
tuesday
turkey
turn
tv
twitter
two
ukraine
un
understand
union
united
university
us
usa
use
used
using
veterans
vice
victims
victory
video
view
views
violence
violent
vote
voter
voters
votes
voting
wage
wait
walker
wall
want
wants
war
warning
warren
wars
washington
watch
water
way
ways
weapons
week
weeks
weiner
west
western
whether
white
wife
wikileaks
willing
win
wing
winning
wins
wisconsin
within
without
woman
women
word
words
work
workers
working
world
worse
worst
worth
would
wrong
year
years
yes
yet
york
young

## Spliting Data For Final Evaluation

In [31]:
data1=data.sample(frac=0.85, random_state=12)
data2=data.drop(data1.index)
data1.reset_index(inplace=True,drop=True)

In [19]:
num_ftr=list(data.select_dtypes(include=['int16', 'int32', 'int64','float']).columns)

## Setting up Env

In [75]:
from pycaret.classification import *
setup1 = setup(data = data1, target = 'label',numeric_features=num_ftr,session_id=258,train_size=0.82,silent=True)

## Compare models and Tune best 2

In [78]:
top10 = compare_models(n_select = 10)

In [80]:
tuned1=tune_model(top10[0])

In [81]:
predict_model(tuned1)

,000,10,100,11,12,13,14,15,16,17,...,www,year.1,years.1,yes.1,yet.1,york.1,young.1,label,Label,Score
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.014413,0.028323,0.0,0.018401,0.0,0.000000,REAL,REAL,0.9952
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.033266,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9096
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.025053,0.049234,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9992
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.017673,0.000000,0.0,0.000000,0.0,0.000000,REAL,REAL,0.9805
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.026796,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.027585,0.054209,0.0,0.000000,0.0,0.044974,REAL,REAL,0.9989
966,0.0,0.543003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.034204,0.067217,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9781
967,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9996
968,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.056388,0.000000,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.5276
969,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.082397,0.0,0.035688,0.0,0.000000,REAL,REAL,0.7911

In [82]:
tuned2=tune_model(top10[1])

In [83]:
predict_model(tuned2)

,000,10,100,11,12,13,14,15,16,17,...,www,year.1,years.1,yes.1,yet.1,york.1,young.1,label,Label,Score
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.014413,0.028323,0.0,0.018401,0.0,0.000000,REAL,REAL,0.9884
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.033266,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9856
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.025053,0.049234,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9856
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.017673,0.000000,0.0,0.000000,0.0,0.000000,REAL,FAKE,0.8250
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.026796,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.8903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.027585,0.054209,0.0,0.000000,0.0,0.044974,REAL,REAL,0.9958
966,0.0,0.543003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.034204,0.067217,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.8585
967,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.9486
968,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.056388,0.000000,0.0,0.000000,0.0,0.000000,FAKE,FAKE,0.8366
969,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.082397,0.0,0.035688,0.0,0.000000,REAL,REAL,0.6725

## Finalizing Model after tuning

In [84]:
final_model1 = finalize_model(tuned1)

In [85]:
final_model2 = finalize_model(tuned2)

## Validation

In [86]:
unseen_pred=predict_model(final_model1, data=data2)
unseen_pred

,000,10,100,11,12,13,14,15,16,17,...,www,year.1,years.1,yes.1,yet.1,york.1,young.1,label,Label,Score
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,REAL,REAL,0.9994
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.00000,0.162052,0.000000,0.000000,FAKE,FAKE,0.9996
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.00000,0.000000,0.015650,0.000000,REAL,REAL,0.9999
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,REAL,REAL,0.9953
34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.022315,0.043853,0.07973,0.028490,0.000000,0.036382,FAKE,FAKE,0.9824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.056455,0.083207,0.00000,0.000000,0.000000,0.023010,FAKE,FAKE,0.9013
6314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.00000,0.000000,0.089261,0.000000,FAKE,FAKE,0.9979
6317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.261756,0.00000,0.000000,0.000000,0.000000,FAKE,FAKE,0.9925
6332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,FAKE,FAKE,0.9969
6334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,REAL,REAL,0.9989

In [87]:
unseen_pred2=predict_model(final_model2, data=data2.drop(columns='label'))
unseen_pred2

,000,10,100,11,12,13,14,15,16,17,...,wrote,www,year.1,years.1,yes.1,yet.1,york.1,young.1,Label,Score
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,REAL,0.9910
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.00000,0.162052,0.000000,0.000000,FAKE,0.9949
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.015650,0.000000,REAL,0.9988
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,REAL,0.9493
34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034091,0.0,0.022315,0.043853,0.07973,0.028490,0.000000,0.036382,FAKE,0.9699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.021561,0.0,0.056455,0.083207,0.00000,0.000000,0.000000,0.023010,FAKE,0.8565
6314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.089261,0.000000,FAKE,0.8966
6317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.261756,0.00000,0.000000,0.000000,0.000000,FAKE,0.9896
6332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,FAKE,0.9871
6334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,REAL,0.9978

In [88]:
score1=accuracy_score(data2['label'],unseen_pred['Label'])
score1

0.9231578947368421

In [89]:
score2=accuracy_score(data2['label'],unseen_pred2['Label'])
score2

0.9284210526315789

In [90]:
print(f'Model and tuned parameters that give better results: \n {final_model1 if score1>score2 else final_model2}')

Model and tuned parameters that give better results:
 LogisticRegression(C=3.826, class_weight={}, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=258, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)